body {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1.5fr 5fr auto;
  grid-template-areas: 
    "header_nav"
    "header_main"
    "main"
    "footer";

  font-size: 1.5em;

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.15em;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: rgb(233, 167, 0);
  text-decoration: none;
}

/* Navigation header layout */
.header_nav {
  display: grid;
  grid-area: header_nav;
  grid-template-columns: 1fr 2fr .75fr .25fr;
  grid-template-areas: 
    "icon        site_nav    account      language";
  
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  grid-area: icon;
  justify-content: flex-end;
}

.icon img {
  width: 50%;
}

.site_nav {
  display: flex;
  grid-area: site_nav;
  align-items: center;
  justify-content: space-around;
  gap: 1em;

  text-transform: uppercase;
}

.account {
  display: flex;
  grid-area: account;
  justify-content: space-evenly;
}

.account img {
  width: 200%;
}

.language {
  display: flex;
  grid-area: language;

  text-transform: uppercase;
}

.language a {
  display: none;
  
  color: black;
}

.language a.active {
  display: block;
}

/* Header layout */
header {
  display: flex;
  grid-area: header_main;
  position: relative;

  align-items: center;
  justify-content: space-around;

  flex-direction: column;
  width: -webkit-fill-available;
  margin: 0 auto;
  padding: 1em;
  margin-bottom: 2em;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  object-fit: cover;
}

header * {
  text-align: center;
}

header h1 {
  position: relative;
}

header p {
  position: relative;

  max-width: 60%;
}

header a {
  position: relative;

  margin: 1em 0;
  background-color: white;
  padding: 10px;

  border: 1px solid rgb(233, 167, 0);
}

/* Main layout */
main {
  display: grid;
  grid-area: main;
  grid-template-columns: auto;
  grid-template-areas:
    "advantages"
    "designs"
    "aside";

  width: 80%;
  margin: 0 auto;
}

/* Section layout */

main > section {
  display: flex;
  grid-area: advantages;
  flex-direction: column;
  align-items: center;
}

section > h2 {
  display: flex;
  
  justify-content: center;
  text-align: center;

  flex-flow: column wrap;
}

section > ul {
  display: flex;

  justify-content: space-between;

  width: 80%;
  margin: 4em;
}

section li {
  text-align: center;
  width: 15%;
}

section img {
  width: 25%;
}

section h4 {
  margin-top: 10px;
}

/* Article layout */

main > article {
  display: flex;
  flex-direction: column;
  grid-area: designs;
}

article > h3 {
  display: flex;

  margin: 0;
}

article > ul {
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  justify-content: space-between;
}

article li {
  margin: 0;
  flex-basis: 23.5%;
  object-fit: cover;
}


article img {
  width: 100%;
  aspect-ratio: 1/1.5;
}

article h4 {
  margin-top: 0;

  color: black;
}

/* Aside layout */

aside {
  display: flex;
  grid-area: aside;
  flex-wrap: wrap;
}

aside > h3 {
  width: 50%;

  margin: 0;
}

aside > a {
  display: flex;
  width: 50%;
  
  align-items: center;
  justify-content: flex-end;

  margin-bottom: 0;
}

aside ul {
  height: 31.8em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

aside li {
  width: 50%;
  display: flex;

  flex-basis: 49%;
}

aside li a {
  width: 100%;
  position: relative;
  color: black;
}

aside li:nth-child(2) a {
  display: flex;

  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;

  flex-direction: column;
}

aside li h4 {
  position: relative;
  max-width: 60%;
  margin: 20px 20px 0 20px;
}

aside li p {
  position: relative;
  max-width: 75%;
  margin: 5px 20px;
}

aside li span {
  color: rgb(233, 167, 0);
  position: relative;
  margin: 0 20px 20px 20px;
}

aside li a img {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  opacity: 0.5;
}

/* Footer layout */
footer {
  display: grid;
  grid-area: footer;
  grid-template-columns: 0.75fr 1fr;
  grid-template-areas: 
    "nav about_us"
    "address address";

  background-color: lightgrey;

  padding: 2.5% 10% 3.5% 10%;
  width: -webkit-fill-available;
  justify-self: center;
}

h2.visuallyhidden {
  display: none;
}

footer > nav {
  display: flex;
  grid-area: nav;
}

footer > nav > nav {
  width: 50%;
}

footer h3 {
  margin-top: 0;
  margin-bottom: -10px;
  font-weight: normal;
}

footer a,
footer p {
  font-size: 1.2em;
}

.about_us {
  grid-area: about_us;
}

address {
  grid-area: address;
  margin-top: 20px;
}

/* max-width 751px*/
@media only screen and (max-width: 46.938em) {
  body {
    font-size: 1em;
  }

  .header_nav {
    grid-template-columns: 2.5fr .75fr .25fr;
    grid-template-areas: 
      "site_nav account language";
  }

  .site_nav {
    margin: 0 0 0 20px;
  }
  
  .language {
    margin: 0 20px 0 0;
  }

  .icon img {
    display: none;
  }

  main {
    width: 90%;
  }

  section img {
    width: 50%;
  }

  section h4 {
    font-size: 0.8em;
  }
 
  article h4 {
    font-size: 0.8em;

    margin-top: 0;

    color: black;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .account img {
    width: 100%;
  }
  
  footer address {
    font-size: 0.7em;
  }

}

/* max-width 1025px*/
@media only screen and (min-width: 46.939em) and (max-width: 64.063em) {
  body {
    font-size: 1em;
  }

  .icon img {
    width: 100%;
  }

  .account img {
    width: 150%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}